---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: candycrush
spec:
  replicas: 1
  selector:
    matchLabels:
      app: candycrush
  template:
    metadata:
      labels:
        app: candycrush
    spec:
      containers:
      - name: candycrush
        image: youngyz1/candycrush:latest
        ports:
        - containerPort: 3000
        
        livenessProbe:
          httpGet:
            path: /
            port: 3000
          initialDelaySeconds: 60
          periodSeconds: 15
          failureThreshold: 5

        readinessProbe:
          httpGet:
            path: /
            port: 3000
          initialDelaySeconds: 60
          periodSeconds: 10
          failureThreshold: 5

        resources:
          requests:
            memory: "256Mi"
            cpu: "200m"
          limits:
            memory: "512Mi"
            cpu: "500m"
---
apiVersion: v1
kind: Service
metadata:
  name: candycrush-service
spec:
  selector:
    app: candycrush
  ports:
  - protocol: TCP
    port: 80
    targetPort: 3000
  type: LoadBalancer
